<!DOCTYPE  html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>留言板練習</title>
        <script>
            window.onload = function(){
                var oInput = document.getElementById("myInput");
                var omessageBox = document.getElementById("messageBox");
                var oPostBtn = document.getElementById("doPost");

                oPostBtn.onclick = function(){
			        if(oInput.value){
				    
				    var oTime = document.createElement("div");
				    oTime.className = "time";
				    var myDate = new Date();
				    oTime.innerHTML = myDate.toLocaleString();
				    omessageBox.appendChild(oTime);
				
				
                    var oMessageContent = document.createElement("div");
                    oMessageContent.setAttribute("style","border-style:dotted;background-color:papayawhip;border-width:thin;") //這行是我自己多加的
				    oMessageContent.className = "message_content";
				    oMessageContent.innerHTML = oInput.value;
				    oInput.value = "";
				    omessageBox.appendChild(oMessageContent);
          
                }
            }
        }
        </script>
        <style>

        </style>
   
    </head>
    <body>
        <div style="background-color:lightpink;width: 300px;height: 100%;">
            <div id="messageBox"></div>
            <div class="border"><p>使用者留言</p>
                <input id="myInput" type="text" placeholder="請輸入留言類容"><button id="doPost">提交</button>
            </div>
        </div>

        <div>
            <div>使用者留言</div>
            <textarea id="messageBox"></textarea>
            <div>
                <input id="myInput" type="text" placeholder="請輸入留言類容"><button onclick="post()">提交</button>
            </div>
        </div>
    </body>
</html>