<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="/Templates/js/project_js.js"></script>
</head>
<body>


<h3>userid</h3>
<p id = 'user_id'></p>

<h3>username</h3>
<p id = 'username'></p>


<h3>完成數</h3>
<p id = 'mission_c'></p>

<h3>未完成數</h3>
<p id = 'mission_l'></p>

<div id = 'task'>
	<h1>任務</h1>

</div>

<button id='addtask' type='button' onclick='add_task()'>add task</button>

<button id='userAnalysis' type='button' onclick='user_analysis()'>user_analysis</button>

<script>
	user_page()
</script>
</body>


</html>